body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.polynom_input_form {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.polynom_input_form div {
    display: inline-block;
    margin-right: 10px;
}

.polynom_input_form input[type="number"] {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.polynom_input_form input[type="number"]:focus {
    outline: none;
    border-color: #4caf50;
}

.polynom_input_form input[type="number"]:hover {
    border-color: #888;
}

.board_block, .accuracy_block {
    margin-top: 10px;
}

.plot_block {
    justify-content: center;
    text-align: center;
}

.programm_result {
    margin-top: 20px;
    height: 500px;
    text-align: center;
}

#console {
    width: 600px;
    height: 200px;
}

/* Стили для второй формы с произвольной функцией */
.arbitrary_function_input_form {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.arbitrary_function_input_form div {
    margin-bottom: 10px;
}

.arbitrary_function_input_form input[type="text"],
.arbitrary_function_input_form input[type="number"],
.arbitrary_function_input_form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.arbitrary_function_input_form input[type="number"].intervals{
    width: 70px;
}

.arbitrary_function_input_form input[type="text"]:focus,
.arbitrary_function_input_form input[type="number"]:focus,
.arbitrary_function_input_form select:focus {
    outline: none;
    border-color: #4caf50;
}

.arbitrary_function_input_form input[type="text"]:hover,
.arbitrary_function_input_form input[type="number"]:hover,
.arbitrary_function_input_form select:hover {
    border-color: #888;
}


button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}