<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polynomial Solver</title>
    <link href="{{ url_for('static', path='/polynom_solver.css') }}" rel="stylesheet">
</head>
<body>

<h1>Enter your polynomial</h1>
<form class="polynom_input_form" action="/plot" method="post">
    <div>
        <input type="number" class="k_for_x" name="k_for_x_3"
               value="{% if k_for_x_3 is not none %}{{ k_for_x_3 }}{% else %}0{% endif %}"> x^3 +
    </div>
    <div>
        <input type="number" class="k_for_x" name="k_for_x_2"
               value="{% if k_for_x_2 is not none %}{{ k_for_x_2 }}{% else %}0{% endif %}"> x^2 +
    </div>
    <div>
        <input type="number" class="k_for_x" name="k_for_x_1"
               value="{% if k_for_x_1 is not none %}{{ k_for_x_1 }}{% else %}0{% endif %}"> x +
    </div>
    <div>
        <input type="number" class="k_for_constant" name="k_for_constant"
               value="{% if k_for_constant is not none %}{{ k_for_constant }}{% else %}0{% endif %}">
    </div>
    <div class="board_block">
        <label>Границы интервала:</label>
        <input type="number" class="k_for_constant" name="left_board" value="{% if left_board is not none %}{{ left_board }}{% else %}-10{% endif %}">
        <input type="number" class="k_for_constant" name="right_board" value="{% if right_board is not none %}{{ right_board }}{% else %}10{% endif %}">
    </div>
    <div class="method_block">
        <label>Метод:</label>

        <select name="method" id="pet-select">
            <option value="chord">Chord method</option>
            <option value="newton">Newton method</option>
            <option value="simple_iteration">Simple iteration method</option>
        </select>

    </div>
    <div class="accuracy_block">
        <label>Accuracy:</label>
        <input type="number" class="k_for_constant" name="accuracy" value="0.01">
    </div>
    <button type="submit">Plot</button>
</form>


<div class="plot_block">
    {% if plot_data %}
    <h2>Plot:</h2>
    <br>
    <img src="{{plot_data}}" alt="Plot">
    {% endif %}
</div>

<div class="programm_result">
    {% if result %}
    <textarea id="console">
        {{result}}
    </textarea>
    {% endif %}
</div>


</body>
</html>
